spring:
  mail:
    host: ${emailHost}
    port: 587
    username: ${emailUser}
    password: ${emailPass}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true

sistema:
  eureka:
    host: ${eurekaServerHost}
    login: ${eurekaServerUser}
    senha: ${eurekaServerPass}
  auth:
    jwtSecret: ${JWTSecret}
    jwtExpirationMs: 14400000
  swagger:
    login: ${swaggerUser}
    senha: ${swaggerPass}
  pushover:
    token: ${pushoverToken}
    user: ${pushoverUser}

eureka:
  client:
    serviceUrl:
      defaultZone: 'http://${sistema.eureka.login}:${sistema.eureka.senha}@${sistema.eureka.host}:8761/eureka'

cloud:
  aws:
    region:
      static: us-east-1
    stack:
      auto: false
    credentials:
      access-key: ${aws-access-key}
      secret-key: ${aws-secret-key}
    fila:
      esqueci-minha-senha: 
        url: ${aws-queue-esqueci-minha-senha}
        delay: ${aws-delay-esqueci-minha-senha}

